# GCP Project Config
project_id = "YOUR_PROJECT_ID"
region     = "us-west1"

# Strava API Config
strava_client_id = "YOUR_STRAVA_CLIENT_ID"

# Frontend Config
frontend_url = "https://example.com"

# Cloudflare Config
cloudflare_account_id = "YOUR_CLOUDFLARE_ACCOUNT_ID"
cloudflare_api_token  = "YOUR_CLOUDFLARE_API_TOKEN"

# Deployment Flags
# Set to false for initial infrastructure provision.
# Set to true after building and pushing the Docker image (just build-push).
deploy_cloudrun = false
